.App {
  text-align: center;
}

.svg {
  position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	visibility: hidden;
}

.wrap {
  width: 100vw;
  overflow-x: hidden;
}

.filtered {
  margin-left: -5vw;
  width: 110vw;
  height: 300vh;
  background: repeating-linear-gradient(
  0deg,
  #ffffff,
  #ffffff 10px,
  #555555 10px,
  #555555 20px
);
  filter: url('#displacement');
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
